################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/hdh1
/hdh1/x64/Debug
/x64/Debug
